<nav class="navbar nav-01">

</nav>
<div class="container ct1">
  <nav class="navbar nav-02 navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/VWJGd0S/logo-1.png" alt="logo-1">
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <form class="d-flex" role="search">
          <ul class="navbar-nav me-4 mt-1 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Fertilizers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Crops</a>
            </li>
          </ul>
          <button class="btn1 btn-lg" type="submit">GET A QUOTE</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<section >
  <img src="https://i.ibb.co/zZQ9zYP/plants-for-all-seasons-fertilizing-trees-shrubs-granulated-fertilizer-tree-trunk.jpg" alt="plants-for-all-seasons-fertilizing-trees-shrubs-granulated-fertilizer-tree-trunk" class="img-bg">
  <div class="imgcover"></div>
  <div class="text-center start_wrapper">
    <h4 class="title-txt1">Modified & Acuurated</h4>
    <h1 class="title-txt2">Predict Fertilizers</h1>
    <h6 class="title-txt3">We provide Agri Expert services to a wide range of<br>
      residential properties for over 24 years.
    </h6>
    <button class="btn2 btn-lg" type="submit">Predict Fertilizer</button>
  </div>
</section>
